<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lougaroup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Loup_Garoup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LouGaroup"
        tools:ignore="Instantiatable">
        <activity
            android:name=".VictoireLoup"
            android:exported="false" />
        <activity
            android:name=".VillageVictory"
            android:exported="false" />
        <activity
            android:name=".Vote"
            android:exported="false" />
        <activity
            android:name=".Rapport"
            android:exported="false" />
        <activity
            android:name=".Bonjour"
            android:exported="true" />
        <activity
            android:name=".Nuit"
            android:exported="true" />
        <activity
            android:name=".Loup"
            android:exported="true" />
        <activity
            android:name=".Village"
            android:exported="true" />
        <activity
            android:name=".BonneNuit"
            android:exported="true" />
        <activity
            android:name=".NameType"
            android:exported="true" />
        <activity
            android:name=".playerRole"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>